<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'plus_numlist.js' %}"></script>
    <link href="{% static 'table.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'nav.css' %}" type="text/css" rel="stylesheet">
    <title>MyList</title>
</head>
<body>

<div class="nav">
<a class="link_main" href="/">iam-allin</a>
{% if user.is_authenticated %}
    <div class="func">
    <a class="link_mylist" href="/">Create</a>
    <a class="link_login" href="/accounts/logout">로그아웃</a>
    </div>
{% endif %}
</div>


<div class="table">
    {% for num in data %}
        <div class="tablecontent">
            <span id="numno">{{ num.no }}회</span>
            <span class="num">{{ num.content }}</span>
            <input type="button" id="{{ forloop.counter }}" value="삭제" name="{{ num.id }}"
                   onclick="dl({{ forloop.counter }})">
        </div>
    {% endfor %}
</div>
</body>
</html>