body {
  font-family: arial, helvetica, sans-serif;
}

.Nav {
  display: flex;
  height: 10vh;
  align-items: center;
  border-radius: 10px;
  background-color: #3b5998;
}

.LinkHome {
  text-decoration: none;
  margin-left: 2vw;
  font-size: 2em;
  width: 85%;
  color: white;
}

.Func {
  display: flex;
  align-items: center;
  width: 15%;
  margin-right: 3%;
  justify-content: space-around;
}

.LinkCreate,
.LinkNumlist {
  text-decoration: none;
  color: white;
}
