@media all and (min-width: 769px) {
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1vh;
    }

    .tablecontent {
        height: 6.5vh;
        width: 85vw;
        margin: 0;
        border: 1px solid #f2f2f2;
        background-color: #e2e2e2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #numno {
        font-size: 3vh;
        margin-left: 1vw;
    }

    .num {
        font-size: 3vh;
        margin-left: 1vw;
    }

    input[type='button'] {
        font-size: 2vh;
        margin-right: 1vw;
    }


}

@media all and (max-width: 768px) {
    .table {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3vh;
    }

    .tablecontent {
        height: 6vh;
        width: 85vw;
        border: 1px solid #f2f2f2;
        border-radius: 5px;
        background-color: #e2e2e2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #numno {
        margin-left: 2vw;
    }

    .num {
        font-size: 3vh;
        margin-left: 2vw;
    }

    input[type='button'] {
        font-size: 2vh;
        margin-right: 2vw;
    }


}